.jp-FileEditor .CodeMirror-linenumber {
  color: var(--cl-light-gray)
}
.jp-FileEditor .CodeMirror{
  background-color: var(--jp-cell-editor-background);
  color: var(--cl-very-light-gray);
}
.jp-FileEditor .CodeMirror-selectedtext {
  background-color: var(--jp-editor-selected-focused-background);
}
.jp-FileEditor .cm-atom {
  color: var(--cl-red);
}
.jp-FileEditor .cm-builtin {
  color: var(--cl-color2dark);
}
.jp-FileEditor .cm-comment {
  color: var(--jp-mirror-editor-comment-color);
}
.jp-FileEditor .cm-def {
  color: var(--jp-mirror-editor-def-color);
}
.jp-FileEditor .cm-header {
  color: var(--jp-mirror-editor-header-color);
}
.jp-FileEditor .cm-keyword {
  color: var(--jp-mirror-editor-keyword-color);
}
.jp-FileEditor .cm-link {
  color: var(--jp-mirror-editor-link-color);
}
.jp-FileEditor .cm-number {
  color: var(--jp-mirror-editor-number-color);
}
.jp-FileEditor .cm-string {
  color: var(--jp-mirror-editor-string-color);
}
.jp-FileEditor .cm-string-2 {
  color: var(--jp-mirror-editor-string-2-color);
}
.jp-FileEditor span.cm-url {
  color: var(--cl-color3medium);
}
.jp-FileEditor .cm-variable {
  color: var(--jp-mirror-editor-variable-color);
}
.jp-FileEditor .cm-variable-2 {
  color: var(--jp-mirror-editor-variable-2-color);
}
.jp-FileEditor .cm-variable-3 {
  color: var(--jp-mirror-editor-variable-3-color)
}
